/*----------------MEDIUM SCREENS------------------*/

@media only screen and (max-width: 1200px) {
    h1 {
        font-size: 60px;
    }

    .team-box {
        width: 250px;
        margin: 1px;
    }

    .team-img {
        width: 250px;
        height: auto;
    }

}

/*----------------SMALL SCREENS / LAPTOPS------------------*/

@media only screen and (max-width: 1024px) {

    .main-nav li {
        margin-left: 40px;
    }

    .section-team .row {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .content-carousel h2 {
        font-size: 30px;
    }
    
    .team-box {
        width: 35%;
    }

}

/*----------------IPADS TABLETS SCREENS------------------*/

@media only screen and (max-width: 768px) {

    .toggle-btn {
        display: inline-block;
    }

    .main-nav {
        display: none;
    }

    .hamburger-menu {
        display: flex;
        justify-content: flex-end;
        background-color: rgba(0, 0, 0, 0);
        align-items: center;
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 105px;
    }

    .hamburger-menu.active {
        justify-content: space-between;
        background-color: rgba(0, 0, 0, 0.774);
    }

    .main-nav.active {
        display: inline-block;
        flex-direction: column;
        align-items: flex-start;
    }

    .main-nav li {
        margin-bottom: 3px;
    }

    nav {
        padding: 34px 0;
    }

    
    h1 {
        font-size: 50px;
    }
    
    .hero-text-box p {
        font-size: 17px;
    }

    .work-showcase {
        flex-wrap: wrap;
    }

    .modal-box {
        width: 100%;
    }

    .work-showcase li {
        width: 49%;
    }

    .team-box {
        width: 250px;
    }

    .client-box-left {
        width: 40%;
    }

    .client-box-right {
        width: 60%;
    }
    
    .content-carousel h2 {
        font-size: 28px;
    }

    .content-carousel p {
        font-size: 12px;
        margin-bottom: 35px;
    }

    .download-box h2 {
        line-height: 1.2;
        text-align: center;
        max-width: 480px;
    }

}

/*----------------MOBILE DEVICES------------------*/

@media only screen and (max-width: 480px) {
    .work-showcase li {
        width: 99%;
    }

    .team-box {
        width: 80%;
    }

    .client-box-left {
        width: 10%;
    }

    .client-box-right {
        width: 90%;
    }

    .footer-info {
        height: 500px;
    }

    .footer-info .row {
        flex-direction: column;
        align-items: center;
    }

    .footer-box {
        margin-top: 40px;
    }

}

