
/*--------------------BASIC SETUP----------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

/*--------------------REUSABLE COMPONENTS----------------------*/

.row { 
    max-width: 1170px; 
    margin: 0 auto;
}

/*--------------------HEADINGS----------------------*/

h1 {
    max-width: 25ch;
    text-align: center;
    width: 100%;
    margin-bottom: 40px;
    font-size: 65px;
    font-family: "Open Sans";
    font-weight: 700;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.092;
}

h3 {
    font-size: 14px;
    font-family: "Raleway";
    color: rgb(45, 48, 51);
    text-transform: uppercase;
    line-height: 1.2;
    font-weight: 600;
}

/*--------------------HEADER----------------------*/

header {
    background-image: url("img/style.css.png");
    background-size: cover;
    background-position: center;
    height: 750px;
    position: relative;
}

/* NAVIGATION */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 38px 0;
}

.main-nav {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: right;
}

.main-nav li {
    margin-left: 58px;
}

.main-nav a {
    text-decoration: none;
    font-size: 13px;
    font-family: "Raleway";
    color: rgba(255, 255, 255, 0.749);
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1.2;  
}

.toggle-btn {
    display: none;
}

nav a ion-icon {
    cursor: pointer;
    color: #fff;
    font-size: 40px;
}

/* TEXT IN HEADER */

.hero-text-box {
    width: 80%;
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.hero-text-box p {
    max-width: 70ch;
    margin-bottom: 80px;
    font-size: 22px;
    font-family: "Raleway";
    font-weight: 300;
    color: rgb(255, 255, 255);
    line-height: 1.5;
    text-align: center;
}

.btn {
    font-size: 13px;
    text-decoration: none;
    font-family: "Raleway";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.615;
    font-weight: 500;
    text-align: center;
    background-color: #e84545;
    padding: 12.5px 50px;
    border-radius: 3px;
}

/*--------------------HEADER----------------------*/

.section-features .row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 120px 0 42px 0;
}

.feature-box {
    width: 300px;
    text-align: center;
    margin-bottom: 78px;
}

.feature-box img {
    margin-bottom: 34px;
}

.feature-box h3 {
    margin-bottom: 26px;
}

.feature-box p {
    font-size: 14px;
    font-family: "Raleway";
    color: rgb(108, 114, 121);
    line-height: 1.5;
}

/*--------------------WORKS----------------------*/

.work-showcase {
    list-style: none;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.work-showcase li {
    width: 25%;
    height: auto;
    overflow: hidden;
    margin: 0 0.5px;
}

.work-showcase li img {
    width: 479px;
    height: 350px;
}

.item-text {
    position: relative;
}

.item-text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.item-text-box h3{
    color: rgb(255, 255, 255);
    font-weight: 600;
    margin-bottom: 12px;
}

.item-text-box p {
    font-size: 14px;
    font-family: "Raleway";
    color: rgb(255, 255, 255);
    line-height: 1.2;
    font-weight: 300;
}

/*--------------------TEAM----------------------*/

.section-team {
    padding: 100px 0;
}

.section-team .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.team-box {
    width: 270px;
}

.team-box h2 {
    font-size: 22px;
    font-family: "Raleway";
    color: rgb(45, 48, 51);
    line-height: 1.2;
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: 15px;
}

.team-box span {
    font-size: 13px;
    font-family: "Raleway";
    color: rgb(232, 69, 69);
    text-transform: uppercase;
    line-height: 1.2;
    font-weight: 500;
}

.team-box p:last-of-type {
    font-size: 14px;
    font-family: "Raleway";
    color: rgb(108, 114, 121);
    line-height: 1.5;
    margin: 30px 0;
}

.icon-box a img {
    border: 1px solid #e8ecee;
}

/*--------------------CLIENTS----------------------*/

.section-clients {
    width: 100%;
    display: flex;
}

.client-box-left {
    width: 50%;
    background-image: url("img/client1.png");
    margin-right: -1px;
}

.client-box-right {
    width: 50%;
    background-image: url("img/client2.png");
    background-size: cover;
    background-position: center;
    height: 500px;
    position: relative;
    margin-left: -1px;
}

.content-carusel {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
}

.content-carusel h2 {
    font-size: 36px;
    font-family: "Cardo";
    color: rgb(255, 255, 255);
    font-style: italic;
    line-height: 1.167;
    font-weight: 400;
    max-width: 30ch;
    margin-bottom: 44px;
}
  
.content-carusel p {
    font-size: 13px;
    font-family: "Raleway";
    color: rgb(255, 255, 255);
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1.615;
    margin-bottom: 65px;
}

.dot-box {
    text-align: center;
}

.dot {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: #755d6e;
    display: inline-block;
    cursor: pointer;
    margin-right: 8px;
}

.dot:last-child {
    margin-right: 0;
}

.dot.active {
    background-color: #fff;
}

/*--------------------DOWNLOAD----------------------*/

.section-download {
    padding: 100px 0;
}

.section-download .row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.download-box h2 {
    font-size: 28px;
    font-family: "Raleway";
    color: rgb(45, 48, 51);
    line-height: 0.75;
    font-weight: 400;
    margin-bottom: 21px;
}

.download-box p {
    font-size: 13px;
    font-family: "Raleway";
    color: rgb(45, 48, 51);
    text-transform: uppercase;
    line-height: 1.615;
    font-weight: 600;
    margin-bottom: 40px;
}

.download-box .btn{
    padding: 12.5px 83px;
}

/*--------------------FOOTER----------------------*/

.footer-info {
    background-color: #3a3e64;
    height: 250px;
}

.footer-copyrights {
    background-color: #313454;
}

.footer-info .row {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    height: 100%;
}

.footer-box {
    width: 330px;
    text-align: center;
    margin-top: 70px;
}

.footer-info h4 {
    font-size: 14px;
    font-family: "Raleway";
    color: rgb(255, 255, 255);
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1.2;
    margin-bottom: 21px;
}

.footer-info p {
    font-size: 14px;
    font-family: "Raleway";
    color: rgba(255, 255, 255, 0.502);
    line-height: 1.607;
}

.footer-info a img {
    border: 2px solid #fff;
    border-radius: 2px;
}

.footer-copyrights {
    text-align: center;
    height: 95px;
}

.footer-copyrights p {
    font-size: 14px;
    font-family: "Raleway";
    color: rgb(128, 128, 128);
    line-height: 1.607;
    padding-top: 29px;
}

.footer-copyrights span {
    color: #fff;
}

.footer-copyrights ion-icon {
    color: #e84545;
}